
    <div class="contact-form">
        <h1>Schreiben Sie uns gerne eine Nachricht!</h1>
        <form action="https://gruppe-343.developerakademie.net/Kochwelt_edited/Kochwelt/templates/contact.php" method="post">
            <input class="input-field" type="text" name="name" placeholder="Vor- und Zuname" required>
            <input class="input-field" type="email" name="e-mail" placeholder="E-Mail-Adresse" required>
            <textarea class="textarea-field" name="message" placeholder="Ihre Nachricht an uns" required></textarea>
            <button class="contact-button" type="submit">Nachricht senden</button>
        </form>
    </div>
