    <footer>
        <div class="footer-row">
            <a href="index.html">
            <img src="../img/logo.png" class="logo-footer">
            </a>
            <div class="social-media-logos">
                <a href="https://www.instagram.com/" target="_blank">
                    <img src="../img/instagram-64.png">
                </a>
                <a href="https://www.facebook.com/" target="_blank">
                    <img src="../img/facebook-3-64 (1).png">
                </a>
                <a href="https://www.youtube.com/" target="_blank">
                    <img src="../img/youtube-3-64.png">
                </a>
            </div>
        </div>

        <div class="footer-row">
            <span> © 2022 Kochwelt von Johannes, Alina und Robert</span>
            <div class="footer-links">
                <a href="contact.html">Kontakt</a> |
                <a href="privacy.html">Datenschutz</a> |
                <a href="impressum.html">Impressum</a>
            </div>
        </div>
        </div>
    </footer>