<div id="dropdownHeader">
    <div class="header" id="header">
        <a href="index.html" class="logo"><img class="logo" src="../img/logo.png" alt=""></a>
        <a href="index.html" class="dropdown-logo"><img src="../img/logo_small.png"></a>
        <img onclick="dropdownMenu()" id="openButton" class="dropdown-button" src="../img/dropdown.png" alt="">
        <div class="menu">
            <a href="index.html">Start</a>
            <a href="recipe-of-the-day.html">Rezept des Tages</a>
            <a href="contact.html">Kontakt</a>
            <a href="impressum.html">Impressum</a>
        </div>
    </div>
    <ul class="dropdown-content-dnone" id="dropdown">
        <li><a href="../main-html/index.html">Start</a></li>
        <li><a href="../main-html/recipe-of-the-day.html">Rezept des Tages</a></li>
        <li><a href="../main-html/contact.html">Kontakt</a></li>
        <li><a href="../main-html/impressum.html">Impressum</a></li>
    </ul>
</div>