<div onclick="closeDropdown()">
    <div class="main-recipe-container">
        <img src="../img/waffel.jpg" alt="Waffel">
        <div>
            <h2>Waffeln à la Kochwelt</h2>
            <p>Der Duft von frischen Waffeln ist einfach unwiderstehlich. Er erinnert an Kindheit und in größerer Runde
                macht das Waffeln essen noch viel mehr Spaß. Werfen Sie mal wieder Ihr Waffeleisen an! Hier finden Sie
                unsere besten Waffel-Rezepte für eine glückliche Runde!</p>
            <a href="recipe-of-the-day.html">
                <button>Rezept öffnen</button>
            </a>
        </div>
    </div>



    <div class="something-new">
        <h2>Lust auf was Neues?</h2>
        <div class="new-recipes">
            <div class="recipe-div">
                <a href="recipe-alina.html">
                    <img src="../img/Pumpkin.jpg" alt="Kürbissuppe">
                </a>
                <p>Kürbissuppe</p>
            </div>
            <div class="recipe-div">
                <a href="recipe-johannes.html">
                    <img src="../img/Schupfnudeln.jpeg" alt="Schupfnudeln">
                </a>
                <p>Schupfnudeln mit Spinat</p>
            </div>
            <div class="recipe-div">
                <a href="recipe-robert.html">
                    <img src="../img/asparagus.jpg" alt="Spargel-Erdbeer-Salat">
                </a>
                <p>Spargel-Erdbeer-Salat</p>
            </div>
        </div>
    </div>

    <div class="cooking-tips-parent">
        <h2>Rotwein oder Weißwein?</h2>
        <div class="cooking-tips-child">
            <p> Wenn Sie mit Weißwein kochen, achten Sie auf die Säure des Weins und die Säure im Essen. Zu viel
                wirkt schnell unharmonisch und überdeckt alle anderen Aromen.
                Hier bietet sich ein Cabernet Sauvignon.
                Kochen Sie mit tanninreichen Rotweinen, achten Sie darauf, dass die Tannine bei zu langer Kochzeit
                bitter wirken können. Sahne und andere fettreiche Zutaten gleichen die bitteren Tannine wieder aus.
                Sobald Wein im Spiel ist, kochen Sie am besten auf kleiner Hitze, damit sich die Aromen nicht
                verflüchtigen.
            </p>

            <img src="../img/wine.jpg">
        </div>
    </div>
</div>