<div onclick="closeDropdown()">

    <div class="main-div">
        <h1>Spargel-Erdbeer-Salat</h1>
        <img src="../img/asparagus.jpg" class="main-pic">
        <div class="small-icons-parent">
            <div class="small-icons-child">
                <img src="../img/clock-regular.svg">
                <span>45 Min.</span>
            </div>
            <div class="small-icons-child">
                <img src="../img/brain-solid.svg">
                <span>einfach</span>
            </div>
            <div class="small-icons-child">
                <img src="../img/calendar-alt-regular.svg">
                <span>28.10.2022</span>
            </div>
        </div>
        <hr>
        <div class="inputDiv">
            <span>Zutaten für</span>
            <input onkeyup="resetInput()" type="number" id="myInput" placeholder="Mind. 1 Portion" value="4" min="1">
            <button onclick="calculate()">Portionen</button>
        </div>

        <table>
            <tbody id="table"></tbody>
        </table>

        <h2>Zubereitung</h2>
        <div class="small-icons-parent">
            <div class="small-icons-child d-none">
                <img src="../img/clock-regular.svg" class="bottom-img">
                <span>ca. 15 Minuten</span>
            </div>
            <div class="small-icons-child small-icons-child-extra">
                <img src="../img/clock-regular.svg" class="bottom-img">
                <span>Gesamtzeit ca. 15 Minuten</span>
            </div>
        </div>
        <ul>
            <li> Spargel waschen und putzen. Die weißen Stangen sorgfältig schälen, die grünen nur am unteren Drittel
                schälen, ggf. etwas abschneiden. Die Stangen etwas kleinschneiden.</li><br>
            <li>
                Den weißen Spargel in wenig Salzwasser 15 - 20 min., den grünen Spargel nur 10 - 12 min. dünsten (je
                nach
                Dicke
                der Stangen). Sehr gut abtropfen lassen.</li><br>

            <li>Den Aceto Balsamico mit dem Sherryessig, Salz und Pfeffer verquirlen. Dann beide Ölsorten unterschlagen.
                Würzig
                abschmecken. Etwas Kresse abschneiden und untermischen. Den Spargel in der Sauce wenden, darin abkühlen
                und
                durchziehen lassen.</li><br>

            <li> Den Salat putzen, waschen und gut trocken schleudern. Die Blätter mundgerecht zerteilen und auf 4
                Tellern
                oder
                einer großen Platte verteilen.</li><br>

            <li>Die Erdbeeren waschen, putzen und halbieren oder vierteln, auf den Salat streuen. Die Pinienkerne in
                einer
                Pfanne ohne Fett goldbraun rösten.</li><br>

            <li>Den Spargel auf dem Salat verteilen, die übrige Marinade auch über die Salatblätter und die Erdbeeren
                träufeln.
                Die Pinienkerne mit der restlichen Kresse und die Essbaren Blüten über den Salat streuen.</li><br>
        </ul>
        <h3>Rezept erstellt von: </h3>
        <div class="author">
            <img src="../img/robo.jpg" class="bottom-img"> <b> Robert Aliaj</b>
        </div>
    </div>

</div>